.job{
    position: absolute;
    height:38px;
    top:5px;
    width: calc(2*100%);
    z-index: 100;
    background-color:#1cad2d;
    border-radius: 0px;
    cursor: pointer;
}

.job::after {
    content: '';
    background-color: #646965;
    position: absolute;
    right: 0;
    width: 4px;
    height: 100%;
    cursor: ew-resize;
}